/* Osnova */

.programsCardList {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	gap: 24px;
	margin-top: 16px;
}
.card {
	display: flex;
	width: 100%;

	justify-content: center;
	align-items: center;

	position: sticky;
	top: 0;
	padding-top: 20px;
}
.cardInner {
	background: white;
	/* border-radius: 14px; */
	display: flex;
	flex-direction: column;
	overflow: hidden;
	box-shadow: 0 25px 50px -12px rgba(15, 10, 30, 0.35);
	transition: transform 0.2s linear, filter 0.2s linear;
}

/* Osnova */

/* Wrezka */
.programsImage {
	display: flex;
	width: 100%;
	/* height: 196px; */
	aspect-ratio: 355 / 196;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.programsContent {
	width: 100%;
	height: 100%;
	padding: 24px 20px;
	background: var(--background-inverse);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 105px;
}

.programsContentTop {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	align-self: stretch;
}
.cardTitle {
	color: var(--content-primaryinverse);

	/* Heading/Heading L */
	font-family: var(--font-family);
	font-size: clamp(32px, calc((40 / 768) * 100vw), 40px);
	font-style: normal;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0;
	text-transform: uppercase;
}
.horizontSeparator {
	height: 3px;
	align-self: stretch;
	background: var(--border-primary);
}
.programsInfo {
	display: flex;
	align-items: center;
	gap: 10px;

	color: var(--content-secondaryinverse);
	leading-trim: both;
	text-edge: cap;

	/* Heading/Heading XS */
	font-family: var(--second-family);
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.cardIcon {
	width: 12px;
	height: 12px;
	aspect-ratio: 1/1;
	fill: var(--content-iconinverse);
}
.programsContentBottom {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	align-self: stretch;
}
.cardDescription {
	color: var(--content-primaryinverse);
	font-family: var(--font-family);
	font-size: clamp(16px, calc((18 / 768) * 100vw), 18px);
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -1px;
}
@media screen and (min-width: 768px) {
	.cardInner {
		height: 400px;
		flex-direction: row;
	}
	.programsImage {
		display: flex;
		width: 325px;
		height: 400px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.programsContent {
		width: 100%;
		height: 100%;
		padding: 24px 20px;
		background: var(--background-inverse);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 0;
	}
	.horizontSeparator {
		height: 6px;
	}
}
