.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.row {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.label {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.labelText {
	font-size: 12px;
	margin-bottom: 6px;
	letter-spacing: 1px;
	color: var(--white);
	text-transform: uppercase;
}

.input {
	background: transparent;
	border: none;
	border-bottom: 3px solid var(--white);
	color: var(--white);
	padding: 6px 0;
	outline: none;
}
.input::placeholder {
	color: var(--content-primary);

	font-family: var(--second-family);
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
}
.error {
	color: var(--red-100);

	font-family: var(--second-family);
	font-size: 14px;
}

.textarea {
	resize: none;
}

.select {
	background: transparent;
	color: var(--white);
	border: none;
	border-bottom: 3px solid var(--white);
	padding: 6px 0;
}

.radioGroup {
	display: flex;
	gap: 20px;
	margin-top: 6px;
}

.radioHidden {
	display: none;
}

.radioOption {
	cursor: pointer;
	position: relative;
	font-family: inherit;
	letter-spacing: 2px;
	color: var(--white);
	font-size: 14px;
}

.radioOption span {
	padding-bottom: 3px;
	transition: 0.2s ease;
	text-transform: uppercase;
}

.radioOption input:checked + span {
	border-bottom: 3px solid var(--white);
}

.submitBtn {
	width: 100%;
	max-width: clamp(226px, calc((307 / 768) * 100vw), 307px);
	height: 56px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 14px;
	padding: 8px 16px;
	margin: 0 auto;

	background: var(--background-inverse);

	color: var(--content-brand);

	font-family: var(--second-family);
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: left;
	text-transform: uppercase;
}
.iconBtn {
	width: 12px;
	height: 12px;
	stroke: var(--content-brand);
}
@media screen and (min-width: 768px) {
	.row {
		flex-direction: row;
	}
	.militaryLabel {
		flex-direction: row;
		align-items: center;
		gap: 16px;
	}
	.radioGroup {
		margin-top: 0px;
	}
	.labelText {
		margin-bottom: 0px;
	}
}
