.descriptionList {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	/* margin-top: 44px; */
}

.descrText {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	color: var(--content-primary);

	font-family: var(--font-family);
	font-size: clamp(16px, calc((24 / 1280) * 100vw), 24px);
	font-style: normal;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0;
}
.descrText span {
	color: var(--content-secondary);
}
.descrBaner {
	width: 100%;
	flex-shrink: 0;
	display: flex;
	transform: scale(1);
	transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media screen and (max-width: 767px) {
	.imgBtn {
		width: calc((136 / 375) * 100vw);
		height: calc((136 / 375) * 100vw);
	}
}
.linkBtnList {
	display: flex;
	flex-direction: column;
	width: 100%;
	background: var(--background-inverse);
}
.linkItem,
.linkText {
	height: 50%;
}
.linkItem {
	position: relative;
	padding: 8px;
	display: flex;
	justify-content: flex-end;
}
.linkIconWrap {
	width: 28px;
	height: 28px;
	display: inline-flex;
	padding: 2px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	background: var(--background-brand);
}

.linkIcon {
	width: 12px;
	height: 12px;
	stroke: var(--content-icon);
}
.linkText {
	display: flex;
	padding: 8px;
	align-items: flex-end;
}
.textBtn {
	width: 118px;
	color: var(--content-primaryinverse);
	leading-trim: both;
	text-edge: cap;

	font-family: var(--second-family);
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0;
	text-transform: uppercase;
}

.descrBtn {
	width: 100%;
	display: flex;
	justify-content: center;
	/* padding: 0 15px; */
}
@media screen and (min-width: 768px) {
	.descrBtn {
		display: none;
	}
	.descrText {
		width: 100%;
		max-width: 620px;
	}
	.descriptionList {
		flex-direction: row;
		align-items: flex-end;
		gap: 24px;
		margin-top: 32px;
		margin-bottom: 32px;
	}
	.descrBaner {
		width: 325px;
		height: 136px;
		flex-shrink: 0;
		display: flex;
	}
	.imgBtn {
		width: 136px;
		height: 136px;
	}
}
@media screen and (min-width: 1280px) {
	.descrBaner:hover {
		transform: scale(1.04);
		transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
}
