.testimonials {
	border-bottom: 1px solid var(--border-primary);
}
.testimonialsBlock {
	display: flex;
	width: 100%;
	max-width: 1365px;
	flex-direction: column;
	align-items: center;
	gap: 64px;
	margin: 0 auto;
}
.titleSubtitle {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}
.titleH2 {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	align-self: stretch;
}
.titleSmall {
	color: var(--content-secondary);
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-family: var(--second-family);
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.titleBig {
	color: var(--content-primary);
	text-align: right;
	font-family: var(--font-family);
	font-size: clamp(36px, calc((88 / 1280) * 100vw), 88px);
	font-style: normal;
	font-weight: 500;
	line-height: clamp(36px, calc((88 / 1280) * 100vw), 88px);
	letter-spacing: 0;
	position: relative;
}
.rectangle {
	position: absolute;
	top: -10px;
	left: -35px;
	width: clamp(163px, calc((396 / 1280) * 100vw), 396px);
	height: clamp(35px, calc((79 / 1280) * 100vw), 79px);
	background: var(--background-brand);
	mix-blend-mode: plus-lighter;
	opacity: 0.3;
}
.subTitleBlock {
	display: flex;
	width: 100%;
	max-width: 735px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.subTitle {
	color: var(--content-secondary);
	text-align: center;
	font-family: var(--font-family);
	font-size: clamp(16px, calc((24 / 1280) * 100vw), 24px);
	font-style: normal;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0;
}
