.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100dvh;
	position: relative;
}
.logo {
	position: absolute;
	top: 25px;
	left: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 134px;
	height: 25px;
}
.errorWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 107px;
}
.error {
	/* width: 698px; */
	width: 855px;
	height: clamp(160px, calc((208 / 768) * 100vw), 208px);
	overflow: hidden;
	position: relative;
}
.textError {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	color: var(--content-secondary);

	font-family: var(--font-family);
	font-size: clamp(200px, calc((380 / 768) * 100vw), 380px);
	font-weight: 500;
	line-height: 380px;
	letter-spacing: -3px;
	text-align: left;
}
.rectangle {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: clamp(370px, calc((792 / 768) * 100vw), 792px);
	height: clamp(75px, calc((115 / 768) * 100vw), 115px);
	background: var(--background-brand);
	opacity: 0.3;
}

.blockDescription {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
}
.title {
	color: var(--content-primary);

	font-family: var(--font-family);
	font-size: clamp(18px, calc((24 / 768) * 100vw), 24px);
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0px;
	text-align: center;
}
.text {
	color: var(--content-secondary);

	font-family: var(--font-family);
	font-size: clamp(18px, calc((24 / 768) * 100vw), 24px);
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0px;
	text-align: center;
}
.btn {
	width: 137px;
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 8px 16px;
	background: var(--background-brand);
	transform: scale(1);
	transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.btn:hover {
	background: var(--background-brandhover);
	transform: scale(1.04);
	transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.blockIcon {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon {
	width: 12px;
	height: 12px;
	stroke: var(--content-icon);
}
