.takeControlBlock {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	gap: 16px;
	width: 100%;
	max-width: 767px;
	/* height: 680px; */
	flex-shrink: 0;
	border: 6px solid var(--border-inverse);
	margin: 0 auto;
}

.takeControlLeft {
	background: var(--background-primary);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 clamp(12px, calc((12 / 768) * 100vw), 24px);
}
.takeControlDescr {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
}
.title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;
}
.titleLitle {
	color: var(--content-primary);
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-family: var(--second-family);
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.title_big {
	color: var(--content-primary);
	font-family: var(--font-family);
	font-size: clamp(36px, calc((88 / 1440) * 100vw), 88px);
	font-style: normal;
	font-weight: 500;
	line-height: clamp(36px, calc((88 / 1440) * 100vw), 88px);
	letter-spacing: 0;
	/* заборонити перенос між символами */
	word-break: keep-all;
}
.takeControlRight {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	/* overflow: hidden; */
	/* width: 100%; */
	/* height: 624px; */
	/* border: 1px solid blue; */
}
.soldier {
	width: 100%;
	max-width: 677px;
	aspect-ratio: 677 / 666;
	/* height: 666px; */
	position: absolute;
	bottom: 0;
	right: 0;
}
.drone {
	position: absolute;
	top: 0;
	/* left: -290px; */
	left: 5%;
	transform: translateX(-50%);
	width: 100%;
	max-width: clamp(223px, calc((632 / 1280) * 100vw), 632px);
	aspect-ratio: 632 / 422;
	/* height: 422px; */
	z-index: 0;
}

@media screen and (min-width: 320px) {
	.takeControlRight {
		background-image: url("/img/takecontrol/background_x1.png");
		background-size: 100% 100%;
		background-position: 50% center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	@media screen and (min-resolution: 2dppx),
		(min-resolution: 192dpi),
		(-webkit-min-device-pixel-ratio: 2) {
		.takeControlRight {
			background-image: url("/img/takecontrol/background_x2.png");
			background-size: 100% 100%;
			background-position: 50% center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.takeControlBlock {
		padding-bottom: clamp(12px, calc((12 / 768) * 100vw), 24px);
	}
	.takeControlRight {
		aspect-ratio: 361 / 314;
	}
	.soldier {
		max-width: 80%;
		aspect-ratio: 279 / 298;
		/* height: 666px; */
		position: absolute;
		bottom: 0;
		right: 0;
	}
	.drone {
		position: absolute;
		top: 5%;
		/* left: -290px; */
		left: 20%;
		transform: translateX(-50%);
		width: 100%;
		max-width: clamp(223px, calc((223 / 375) * 100vw), 632px);
		aspect-ratio: 632 / 422;
		/* height: 422px; */
		z-index: 0;
	}
	.takeControlBtn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 56px;
		background: var(--background-brand);
	}
}
@media screen and (min-width: 768px) {
	.takeControlBlock {
		width: 100%;
		max-width: 1360px;
		aspect-ratio: 1360 / 680;
		flex-direction: row;
	}
	.takeControlLeft,
	.takeControlRight {
		width: 50%;
		height: 100%;
	}
	.takeControlBtn {
		width: auto;
		height: auto;
		background: inherit;
	}
}
