.sliderContainer {
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 100%;
	height: 100%;
	/* border: 2px solid green; */
	padding: 2px;
	overflow: visible;
}
.swiper {
	width: 100%;
	/* border: 2px solid blue; */
	padding: 2px;
}
.slide {
	box-sizing: border-box;
	width: 100%;

	aspect-ratio: 326 / 545;
	padding: 2px;
	/* border: 2px solid gold; */
}
/* .slide:nth-child(even) .Item {
  flex-direction: column-reverse;
}
.slide:nth-child(even) .content {
  justify-content: flex-end;
} */
.Item {
	display: flex;
	flex-direction: column;
	/* border: 2px solid darkmagenta; */
	padding: 2px;
	height: 100%;
	/* transition: all 0.9s ease; */
}
.reverse {
	display: flex;
	flex-direction: column-reverse;
}
.descr {
	border-left: 3px solid var(--border-secondary);
	padding-left: 22px;
	height: 100%;
	display: flex;
	/* transition: all 0.9s ease; */
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 24px;
}
.contentReverse {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.contentCount {
	color: var(--content-primary);
	font-family: var(--font-family);
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0;
	text-transform: uppercase;
}
.contentText {
	color: var(--content-primary);
	font-family: var(--font-family);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -1px;
}
.img {
	width: 100%;
	aspect-ratio: 325 / 325;
	/* height: 325px; */
	transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.img:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.arrows {
		display: inline-flex;
		align-items: center;
		gap: 8px;
		/* border: 1px solid blue; */
		margin: 0 auto;
	}
	.navButton {
		display: flex;
		width: 56px;
		height: 48px;
		padding: 12px 16px;
		justify-content: center;
		align-items: center;
		border: 1px solid var(--border-primary);
	}
	.navButton:hover {
		box-sizing: border-box;
		border: 1px solid var(--Border-Primary, rgba(54, 54, 54, 1));
		box-shadow: inset 0px -1px 8px 0px rgba(255, 255, 255, 0.2);
		background: rgba(255, 255, 255, 0.1);
	}
	.navButton_icon {
		width: 12px;
		height: 12px;
		stroke: var(--content-icon);
	}
	.left {
		transform: rotate(-135deg);
	}
	.right {
		transform: rotate(45deg);
	}
}
@media screen and (min-width: 768px) {
	.descr {
		border-left: 6px solid var(--border-secondary);
		padding-left: 22px;
		height: 100%;
		display: flex;
	}
	.arrows {
		display: none;
	}
}
