.corporateWrapper {
	padding-top: 1px solid var(--border-primary);
}
.corporateBlock {
	display: flex;
	width: 100%;
	max-width: 1360px;
	flex-direction: column;
	align-items: center;
	gap: 64px;
	margin: 0 auto;
}
.titleH2 {
	display: flex;
	width: 504px;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}
.titleSmall {
	color: var(--content-secondary);
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-family: var(--second-family);
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.title {
	width: 100%;
	/* border: 1px solid red; */
}
.titleHead {
	color: var(--content-primary);
	text-align: right;
	font-family: var(--font-family);
	font-size: 88px;
	font-style: normal;
	font-weight: 500;
	line-height: 88px;
	letter-spacing: 0;
}
.left {
	text-align: left;
}

.programList {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
}
.programItem {
	display: flex;
	width: 100%;
	height: 151px;
	padding: 66px 0 40px 0;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 40px;
	border-bottom: 6px solid var(--border-primary);

	color: var(--content-secondary);
	text-align: center;
	font-family: var(--font-family);
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0;
	text-transform: uppercase;
	position: relative;
}
.programItem:hover {
	color: var(--content-primary);
	border-bottom: 6px solid var(--border-primary-inverse);
}
.programItem:hover .iconBlock {
	position: absolute;
	right: 18px;
	width: 38px;
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.programItem:hover .imgHover {
	display: block;
	position: absolute;
	top: 0;
	left: 25%;
}
.imgHover {
	display: none;
}
.link {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.iconBlock {
	display: none;
}
.iconLink {
	width: 38px;
	height: 38px;
	stroke: var(--content-icon);
}
