.howItWorksWrapper {
	border-top: 1px solid var(--border-primary);
}
.howItWorksBlock {
	display: flex;
	width: 100%;
	max-width: 1015px;
	flex-direction: column;
	justify-content: center;
	gap: 64px;
	align-items: center;
	margin: 0 auto;
}
.howTitleTop {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	align-self: stretch;
}
.titleTopSmall {
	color: var(--content-secondary);
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-family: var(--second-family);
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.titleTopBigBlock {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.titleTopBig {
	color: var(--content-primary);
	text-align: right;
	font-family: var(--font-family);
	font-size: clamp(36px, calc((88 / 1280) * 100vw), 88px);
	font-style: normal;
	font-weight: 500;
	line-height: clamp(36px, calc((88 / 1280) * 100vw), 88px);
	letter-spacing: 0;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
	position: relative;
}
.rectangle {
	position: absolute;
	top: -15px;
	right: -65px;
	width: clamp(163px, calc((396 / 1280) * 100vw), 396px);
	height: clamp(35px, calc((79 / 1280) * 100vw), 79px);
	background: var(--background-brand);
	mix-blend-mode: plus-lighter;
	opacity: 0.3;
}
.howItWorksCardsList {
	display: none;
}
@media screen and (min-width: 768px) {
	.howItWorksCardsList {
		display: flex;
		width: 100%;
		max-width: 1015px;
		flex-direction: column;
		align-items: flex-start;
		gap: 40px;
	}
}
.howItWorksCardsItem {
	display: flex;
	padding: clamp(24px, calc((80 / 1280) * 100vw), 80px);
	align-items: stretch;
	align-self: stretch;
	gap: 10px;
	/* border: 1px solid green; */
}
.howItWorksCardsItem:hover {
	background: var(--background-inverse);
}
.howItWorksCardsItem:hover .countHead,
.howItWorksCardsItem:hover .titleTop,
.howItWorksCardsItem:hover .titleBottom,
.howItWorksCardsItem:hover .description {
	color: var(--content-primaryinverse);
}
.howItWorksCardsItem:nth-child(2) {
	flex-direction: row-reverse;
}

.blockDescription,
.blockCount {
	flex: 1;
	/* width: 50%; */
	/* border: 1px solid red; */
}
.blockDescription {
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 24px;
	flex: 1 0 0;
}
.blockH3 {
	display: flex;
	width: 100%;
	flex-direction: column;
	color: var(--content-secondary);
	font-family: var(--font-family);
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0;
	text-transform: uppercase;
}
.titleBottom {
	text-align: center;
}
.description {
	color: var(--content-secondary);
	font-family: var(--font-family);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -1px;
}
.blockCount {
	width: 55%;
	display: flex;
	position: relative;
	justify-content: center;
	height: 184px;
	overflow: hidden;
}

.countHead {
	color: var(--content-secondary);
	leading-trim: both;
	text-edge: cap;
	font-family: var(--font-family);
	font-size: clamp(180px, calc((366 / 1280) * 100vw), 366px);
	font-style: normal;
	font-weight: 500;
	line-height: 287px;
	letter-spacing: -3px;
}
