.ourPrograms {
	border-top: 1px solid #242424;
}
.programsBlock {
	display: flex;
	width: 100%;
	max-width: 1036px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	/* border: 1px solid red; */
}
.programsBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}
.programsSmallTitle {
	color: var(--content-secondary);
	text-align: center;
	leading-trim: both;
	text-edge: cap;

	font-family: var(--second-family);
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.programsHeadTitle {
	display: flex;
	width: 100%;
	flex-direction: column;
}
.programsTitle {
	display: flex;
	width: 100%;
	color: var(--content-primary);

	font-family: var(--font-family);
	font-size: 88px;
	font-style: normal;
	font-weight: 500;
	line-height: 88px;
	letter-spacing: 0;
}
.left {
	text-align: left;
}
.right {
	justify-content: flex-end;
}
.programsCardList {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	gap: 24px;
	margin-top: 16px;
}
.programsCard {
	display: flex;
	width: 100%;
	height: 400px;
	justify-content: center;
	align-items: center;
	/* border: 1px solid green; */
}
.programsImage {
	display: flex;
	width: 325px;
	height: 400px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.programsContent {
	width: 100%;
	height: 100%;
	padding: 24px 20px;
	background: var(--background-inverse);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.programsContentTop {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	align-self: stretch;

	color: var(--content-primaryinverse);

	/* Heading/Heading L */
	font-family: var(--font-family);
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0;
	text-transform: uppercase;
}
.horizontSeparator {
	height: 6px;
	align-self: stretch;
	background: var(--border-primary);
}
.programsInfo {
	display: flex;
	align-items: center;
	gap: 10px;

	color: var(--content-secondaryinverse);
	leading-trim: both;
	text-edge: cap;

	/* Heading/Heading XS */
	font-family: var(--second-family);
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.cardIcon {
	width: 12px;
	height: 12px;
	aspect-ratio: 1/1;
	fill: var(--content-iconinverse);
}
.programsContentBottom {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	align-self: stretch;
}
.cardDescription {
	color: var(--content-primaryinverse);

	/* Body/L/Body L Regular */
	font-family: var(--font-family);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -1px;
}
.cardBtn {
	display: flex;
	padding: 16px 24px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	background: var(--background-brand);

	color: var(--content-primary);
	leading-trim: both;
	text-edge: cap;

	/* Heading/Heading S */
	font-family: var(--second-family);
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0;
	text-transform: uppercase;
}
.descrBlock {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.descrIcon {
	width: 12px;
	height: 12px;
	flex-shrink: 0;
	stroke: var(--content-icon);
}
