.scroll-stack-scroller {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 600px;
  overflow-y: auto;
  overflow-x: visible;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: scroll-position;
  scrollbar-width: none; /* для Firefox */
  -ms-overflow-style: none;
}

.scroll-stack-inner {
  padding: 15vh 0rem 30vh;
  min-height: 100vh;
}
.scrollstack-fullpage .scroll-stack-scroller {
  height: 100vh !important;
}

.scrollstack-fullpage .scroll-stack-inner {
  padding: 20vh 0 50vh !important;
}

.scroll-stack-card-wrapper {
  position: relative;
}

.scroll-stack-card {
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); */
  height: 20rem;
  /* height: calc((100vh - 2 * 30px) / 3); */
  width: 100%;
  /* margin: 30px 0; */
  padding: 0rem;
  border-radius: 40px;
  box-sizing: border-box;
  /* Improve mobile performance */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
  flex-shrink: 0;
  margin: 0;
  transition: opacity 0.3s ease;
}

.scroll-stack-end {
  width: 100%;
  height: 1px;
}
.scroll-stack-scroller::-webkit-scrollbar {
  display: none; /* для Chrome, Safari, Edge */
}
