.scroll-stack-scroller {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 650px;
  overflow-y: auto;
  overflow-x: visible;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: scroll-position;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 0 20px;
  margin-top: -140px;
}

.scroll-stack-inner {
  padding: 25vh 0rem 25vh;
  min-height: 100vh;
}
.scrollstack-fullpage .scroll-stack-scroller {
  height: 800px;
  margin-top: -160px;
  margin-bottom: -100px;
}

.scrollstack-fullpage .scroll-stack-inner {
  padding: 22vh 0 50vh;
  padding: 15vh 0 25vh !important;
}

.scroll-stack-card-wrapper {
  position: relative;
}

.scroll-stack-card {
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  height: 20rem;
  width: 100%;
  padding: 0rem;
  border-radius: 40px;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
  flex-shrink: 0;
  margin: 0;
  transition: opacity 0.3s ease;
}

.scroll-stack-end {
  width: 100%;
  height: 1px;
}
.scroll-stack-scroller::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 767px) {
  .scroll-stack-scroller {
    padding: 0;
  }
}

/* @media screen and (max-width: 554px) {
  .scroll-stack-card {
    height: 55vh;
  }
}
@media screen and (min-width: 555px) and (max-width: 767px) {
  .scroll-stack-card {
    height: 60vh;
  }
  .scroll-stack-scroller {
    padding: 0 30px;
  }
}
@media screen and (max-width: 767px) {
  .scroll-stack-card {
    margin-bottom: 10px !important;
  }
  .scroll-stack-inner {
    padding: 15vh 0rem 15vh;
  }
} */
