.scroll-stack-scroller {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 600px;
  overflow-y: auto;
  overflow-x: visible;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: scroll-position;
  scrollbar-width: none; /* для Firefox */
  -ms-overflow-style: none;
  padding: 0 20px;
}

.scroll-stack-inner {
  padding: 15vh 0rem 30vh;
  min-height: 100vh;
}
.scrollstack-fullpage .scroll-stack-scroller {
  height: 100vh !important;
  margin-top: -150px;
}

.scrollstack-fullpage .scroll-stack-inner {
  padding: 20vh 0 50vh !important;
}

.scroll-stack-card-wrapper {
  position: relative;
}

.scroll-stack-card {
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  height: 20rem;
  width: 100%;
  padding: 0rem;
  border-radius: 40px;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
  flex-shrink: 0;
  margin: 0;
  transition: opacity 0.3s ease;
}

.scroll-stack-end {
  width: 100%;
  height: 1px;
}
.scroll-stack-scroller::-webkit-scrollbar {
  display: none; /* для Chrome, Safari, Edge */
}
@media screen and (max-width: 554px) {
  .scroll-stack-card {
    height: 50vh;
  }
}
@media screen and (min-width: 555px) and (max-width: 768px) {
  .scroll-stack-card {
    height: 60vh;
  }
  .scroll-stack-scroller {
    padding: 0 30px;
  }
}
