.itemSlide {
	/* border: 1px solid green; */
	/* background: yellow; */
	display: flex;
	width: 100%;
	/* width: 325px; */
	/* height: 302px; */
	height: 100%;
	padding: 24px;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;

	background: var(--background-inverse);
}
.itemContent {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	/* gap: 16px; */
	/* border: 1px solid green; */
}
.info {
	display: flex;
	align-items: center;
	gap: 16px;
	align-self: stretch;
	padding-bottom: 16px;
	border-bottom: 3px solid var(--border-primary);
}
.infoUser {
	min-width: 150px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	flex: 1 0 0;
}
.infoTitle {
	color: var(--content-primaryinverse);
	font-family: var(--font-family);
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0;
}
.infoText {
	height: 26px;
	color: var(--content-secondaryinverse);
	leading-trim: both;
	text-edge: cap;
	font-family: var(--second-family);
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.text {
	padding-top: 16px;
	color: var(--content-primaryinverse);
	font-family: var(--font-family);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -1px;
}
