.menuList {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 24px;
}
.menuItem {
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 3px solid var(--border-primary-inverse);
	opacity: 0.6;
}

.navMenuLink {
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
	gap: 8px;

	color: var(--content-primary);

	font-family: var(--font-family);
	font-size: 24px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0px;
	text-align: left;
	text-transform: uppercase;
	opacity: 0.7;
}
.menuItem:hover {
	border-bottom: 3px solid var(--border-primary-inverse);
	opacity: 1;
}

.menuItem:hover .navMenuLink {
	color: var(--content-primary);
	opacity: 1;
}
