.burgerWrapper {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.iconBurger {
	width: 20px;
	height: 14px;
	stroke: var(--white);
}
@media screen and (min-width: 1280px) {
	.burgerWrapper {
		display: none;
	}
}
