.navbar {
	width: 100%;
	max-width: 1360px;
	height: 40px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}
.navigationLink {
	display: none;
}
.localSwitcher {
	height: 16px;
	display: flex;
	align-items: center;
	gap: 2px;
}

.lineBottom {
	width: 100%;
	height: 1px;
	flex-shrink: 0;
	background: var(--content-primary);
	opacity: 0.1;
}

.menuHead {
	position: fixed;
	top: 0;
	left: -100%;
	height: 100dvh;
	width: 100%;

	background: var(--Background-Brand, rgba(204, 68, 0, 1));
	z-index: 10;
	transition: left 1000ms ease;
}

.open {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	transform: translateX(0);
	z-index: 10;

	background: var(--Background-Brand, rgba(204, 68, 0, 1));
}

@media screen and (min-width: 1280px) {
	.menuHead {
		display: none;
	}
	.navigationLink {
		width: 25%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 24px;
	}
}
