.nav__select {
	width: 52px;
	height: 40px;
	font-size: 25px;
	color: var(--content-secondary);
	background: transparent;
	/* padding-left: 8px; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.label__select {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border: none;

	color: var(--content-secondary);
	leading-trim: both;
	text-edge: cap;
}

.label__select:hover .nav__select,
.label__select:hover .arrow_icon {
	font-size: 14px;
	opacity: 0.7;
}

.arrow_icon {
	fill: none;
	stroke: var(--content-secondary);
	width: 16px;
	height: 16px;
	position: absolute;
	right: 0px;
	pointer-events: none;
}
.nav__select {
	border: none;

	height: 16px;
	width: 38px;
	font-family: var(--second-family);
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
}
