.nav__select {
	width: 52px;
	height: 40px;
	font-size: 25px;
	color: var(--content-secondary);
	background: transparent;
	/* padding-left: 8px; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.nav__select {
	appearance: none;
	-webkit-appearance: none; /* Safari/Chrome */
	-moz-appearance: none; /* Firefox */
	background-image: none; /* Прибрати фонову стрілку */
}
.nav__select::-ms-expand {
	display: none; /* IE/Edge старі */
}

.label__select {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border: none;

	color: var(--content-secondary);
	leading-trim: both;
	text-edge: cap;
}
.arrow_icon {
	fill: none;
	stroke: var(--content-secondary);
	width: 12px;
	height: 12px;
	position: absolute;
	right: 0px;
	pointer-events: none;
}
.mob {
	stroke: var(--content-primary);
}
.label__select:hover .nav__select {
	font-size: 14px;
	color: var(--content-linkhover);
}
.label__select:hover .arrow_icon {
	stroke: var(--content-linkhover);
}

.nav__select {
	border: none;

	height: 16px;
	width: 40px;
	font-family: var(--second-family);
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
}
@media screen and (max-width: 1279px) {
	.nav__select {
		color: var(--content-primary);
	}
}
