/* FIX для мобільних: текст не зникає */
.split-parent {
  white-space: normal !important;
  overflow: visible !important;
}

.split-char {
  white-space: normal !important;
}
.split-parent-wrapper {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
