.footerWrapper {
	border-bottom: 1px solid var(--border-primary);
}
.footerBlock {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1360px;
	margin: 0 auto;
}
.footerContentList {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	gap: clamp(24px, calc((24 / 375) * 100vw), 104px);
}
.footerContentItem {
	width: 100%;
	/* border: 1px solid green; */
}
.footerRightsList,
.footerMenuList {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	gap: clamp(12px, calc((24 / 375) * 100vw), 24px);
}
.footerMenuList {
	align-items: center;
}
.footerRightsItem,
.footerMenuItem {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;

	color: var(--content-secondary);
	leading-trim: both;
	text-edge: cap;
	font-family: var(--second-family);
	font-size: clamp(10px, calc((10 / 375) * 100vw), 14px);
	font-style: normal;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.notDisplay {
	display: none;
}

.AllRights {
	display: flex;
	width: 100%;
	max-width: 388px;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	margin: 0 auto;
	padding: 24px 0;
}
.footerLogo {
	display: flex;
	align-items: center;
	gap: 8px;
}
.logoIcon {
	stroke: var(--content-primary);
	fill: none;
}
.leftIcon {
	width: 25px;
	height: 25px;
}
.rightIcon {
	width: 102px;
	height: 20px;
	stroke: var(--black);
	fill: var(--content-primary);
}
.textAllRights {
	color: var(--content-secondary);
	leading-trim: both;
	text-edge: cap;
	font-family: var(--second-family);
	font-size: clamp(10px, calc((10 / 375) * 100vw), 14px);
	font-style: normal;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.footerImageItem {
	margin: 0 auto;
}

@media screen and (min-width: 768px) {
	.displayMob {
		display: none;
	}
	.notDisplay {
		display: flex;
	}
	.footerContentList {
		flex-direction: row;
	}
	.footerContentItem {
		width: 21%;
		/* border: 1px solid green; */
	}

	.footerRightsList,
	.footerMenuList {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		gap: clamp(12px, calc((24 / 1280) * 100vw), 24px);
	}
	.footerMenuList {
		align-items: flex-end;
	}
	.footerRightsItem,
	.footerMenuItem {
		font-size: clamp(10px, calc((14 / 1280) * 100vw), 14px);
	}
	.footerContentList {
		gap: 0;
	}
	.textAllRights {
		font-size: clamp(10px, calc((14 / 1280) * 100vw), 14px);
	}
}
