.sliderContainer {
	width: 100%;
	height: 302px;
	flex-shrink: 0;
	margin: auto;
	border: 1px solid red;
	display: flex;
	gap: 20px;
}

.swiper {
	/* width: calc(100% - 348px); */
	width: 100%;
	height: 100%;
	background: inherit;
}
.wrapper {
	width: calc(100% - 348px);
	border: 2px solid blue;
}
.slide {
	display: flex;
	min-width: 325px;
	justify-content: center;
	flex-shrink: 0;
}
.Item {
	width: 100%;
	border: 1px solid green;
	background: yellow;
}
