.sliderContainer {
  width: 100%;
  height: 390px;
  flex-shrink: 0;
  margin: 0 auto;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.swiper {
  /* width: calc(100% - 348px); */
  width: 100%;
  min-width: 610px;
  height: 100%;
  background: inherit;
  /* border: 2px solid blue; */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.rectangleBlure {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 130%;
  height: 100%;
  /* border: 2px solid green; */
  background: linear-gradient(
    90deg,
    #050505 16.28%,
    rgba(5, 5, 5, 0) 38.64%,
    rgba(5, 5, 5, 0) 62.69%,
    #050505 83.43%
  );

  z-index: 1;
  pointer-events: none;
}
.slide {
  display: flex;
  /* min-width: 325px; */
  justify-content: center;
  flex-shrink: 0;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.slide:hover {
  transform: scale(1.015);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.arrows {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  /* border: 1px solid blue; */
  margin: 0 auto;
}

.navButton {
  display: flex;
  width: 56px;
  height: 48px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-primary);
}
.navButton_icon {
  width: 12px;
  height: 12px;
  stroke: var(--content-icon);
}
.left {
  transform: rotate(-135deg);
}
.right {
  transform: rotate(45deg);
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .sliderContainer {
    height: 450px;
  }
}
@media screen and (min-width: 768px) {
  .swiper {
    /* width: calc(100% - 348px); */
    width: 100%;
    height: 100%;
    background: inherit;
    /* border: 2px solid blue; */
    position: relative;
  }
}
