.sliderContainer {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-x: hidden; /* локально */
}

.swiper {
  width: 100%;
  height: 100%;
  min-width: 0;
  position: relative;
  left: auto;
  transform: none;
  /* padding-left: 20px; */
}

.rectangleBlure {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 130%;
  height: 100%;
  /* border: 2px solid green; */
  background: linear-gradient(
    90deg,
    #050505 16.28%,
    rgba(5, 5, 5, 0) 38.64%,
    rgba(5, 5, 5, 0) 62.69%,
    #050505 83.43%
  );

  z-index: 1;
  will-change: transform;
  pointer-events: none;
}
.blurWrapper {
  position: relative;
}

.rectangleBlure {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 130%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}
.slide {
  display: flex;
  width: 325px !important;
  /* flex-basis: 300px; */
  justify-content: center;
  flex-shrink: 0;
  /* transition: transform 0.5s ease, box-shadow 0.5s ease; */
}

.arrows {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
}

.navButton {
  display: flex;
  width: 56px;
  height: 48px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-primary);
}
.navButton:hover {
  box-sizing: border-box;
  border: 1px solid var(--Border-Primary, rgba(54, 54, 54, 1));
  box-shadow: inset 0px -1px 8px 0px rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
}
.navButton_icon {
  width: 12px;
  height: 12px;
  stroke: var(--content-icon);
}
.left {
  transform: rotate(-135deg);
}
.right {
  transform: rotate(45deg);
}
/* .swiper-wrapper {
  margin-left: 10px;
} */
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .sliderContainer {
    height: 450px;
  }
}
@media screen and (min-width: 768px) {
  .swiper {
    width: 100%;
    height: 100%;
    background: inherit;
    position: relative;
    /* padding-left: 100px; */
  }
}
