.sliderContainer {
	width: 100%;
	height: 390px;
	flex-shrink: 0;
	margin: auto;
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.swiper {
	/* width: calc(100% - 348px); */
	width: 100%;
	height: 100%;
	background: inherit;
}
.wrapper {
	width: calc(100% - 348px);
	/* border: 2px solid blue; */
}
.slide {
	display: flex;
	min-width: 325px;
	justify-content: center;
	flex-shrink: 0;
}
.itemSlide {
	/* border: 1px solid green; */
	/* background: yellow; */
	display: flex;
	width: 100%;
	/* width: 325px; */
	/* height: 302px; */
	padding: 24px;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;

	background: var(--background-inverse);
}
.itemContent {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	/* gap: 16px; */
	/* border: 1px solid green; */
}
.info {
	display: flex;
	align-items: center;
	gap: 16px;
	align-self: stretch;
	padding-bottom: 16px;
	border-bottom: 3px solid var(--border-primary);
}
.text {
	padding-top: 16px;
	color: var(--content-primaryinverse);
	font-family: var(--font-family);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -1px;
}
.infoUser {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	flex: 1 0 0;
}
.infoTitle {
	color: var(--content-primaryinverse);
	font-family: var(--font-family);
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0;
}
.infoText {
	color: var(--content-secondaryinverse);
	leading-trim: both;
	text-edge: cap;
	font-family: var(--second-family);
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.arrows {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	/* border: 1px solid blue; */
	margin: 0 auto;
}

.navButton {
	display: flex;
	width: 56px;
	height: 48px;
	padding: 12px 16px;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--border-primary);
}
.navButton_icon {
	width: 12px;
	height: 12px;
	stroke: var(--content-icon);
}
.left {
	transform: rotate(-135deg);
}
.right {
	transform: rotate(45deg);
}
