.programDetails {
	width: 100%;

	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 8px;
}
.descriptionSide {
	/* width: 355px;
	height: 417px; */
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
	padding: 24px;

	background: var(--background-inverse);
}
.top,
.bottom {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 16px;
}
.descrTitle {
	height: 40px;

	color: var(--content-primaryinverse);

	font-family: var(--font-family);
	font-size: clamp(32px, calc((40 / 1280) * 100vw), 40px);
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0px;
	text-align: left;
	text-transform: uppercase;
}
.detailsList {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 16px;
}
.detailsItem {
	color: var(--content-secondaryinverse);

	font-family: var(--second-family);
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;

	height: 12px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}
.icon {
	width: 12px;
	height: 12px;
	fill: var(--content-iconinverse);
}
.text {
	color: var(--content-primaryinverse);

	font-family: var(--font-family);
	font-size: clamp(16px, calc((18 / 1280) * 100vw), 18px);
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -1px;
	text-align: left;
}
.image {
	width: 100%;
}
@media screen and (max-width: 1279px) {
	.descriptionSide {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 53px;
	}
	.imageSide {
		width: 100%;
		max-width: 1279px;
		aspect-ratio: 355 / 268;
	}
}
@media screen and (min-width: 1280px) {
	.programDetails {
		flex-direction: row;
		gap: 20px;
		margin-top: 26px;
	}
	.descriptionSide,
	.imageSide {
		width: calc((100% - 10px) / 2);
	}
	.descriptionSide {
		aspect-ratio: 355 / 268;
		justify-content: space-between;
	}
}
