.skymasterWrapper {
	padding-top: 1px solid var(--border-primary);
	border-bottom: 1px solid var(--border-primary);
}
.skymasterBlock {
	display: flex;
	width: 100%;
	max-width: 1360px;
	flex-direction: column;
	align-items: flex-start;
	gap: 64px;
	margin: 0 auto;
	/* border: 1px solid red; */
}
.titleH2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	width: 100%;
}
.titleSmall {
	color: var(--content-secondary);
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-family: var(--second-family);
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.titleBig {
	color: var(--content-primary);
	text-align: right;
	font-family: var(--font-family);
	font-size: clamp(36px, calc((88 / 1280) * 100vw), 88px);
	font-style: normal;
	font-weight: 500;
	line-height: clamp(36px, calc((88 / 1280) * 100vw), 88px);
	letter-spacing: 0;

	position: relative;
}
.rectangle {
	position: absolute;
	left: clamp(210px, calc((575 / 1280) * 100vw), 575px);
	width: clamp(163px, calc((396 / 1280) * 100vw), 396px);
	height: clamp(35px, calc((79 / 1280) * 100vw), 79px);
	background: var(--background-brand);
	mix-blend-mode: plus-lighter;
	opacity: 0.3;
}

.content {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
	gap: 10px;
}

.adventagesList,
.imgAdventages {
	width: calc(50% - 10px);
}
.adventagesList {
	display: flex;
	width: 100%;
	align-items: flex-start;
	align-content: flex-start;
	gap: 10px;
	flex-wrap: nowrap;

	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;

	/* приховування скролбара */
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* Internet Explorer 10+ */
}

.animateAdventages,
.animateAdventagesList {
	opacity: 0;
	transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}
.animateAdventages {
	transform: translateY(100px);
}

.animateAdventagesList {
	transform: translateY(100px);
}
.animateAdventages.visible,
.animateAdventagesList.visible {
	opacity: 1;
	transform: translate(0);
}

.advItem {
	display: flex;
	width: 300px;
	height: 302px;
	padding: 24px;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 10px;
	flex-shrink: 0;
	/* border: 1px solid green; */
	background: var(--background-inverse);
	/* transition: transform 0.5s ease, box-shadow 0.5s ease; */
}

.advWrap {
	width: 65px;
	height: 65px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.iconAdv {
	width: 100%;
	height: 100%;
	stroke: var(--content-iconinverse);
}
.advDescr {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
	align-self: stretch;
}
.advTitle {
	color: var(--content-primaryinverse);
	font-family: var(--font-family);
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0;
}
.advText {
	color: var(--content-primaryinverse);
	font-family: var(--font-family);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -1px;
}
.imgAdventages {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	transition: transform 0.5s ease, box-shadow 0.5s ease;
	/* height: 624px; */
	/* border: 1px solid blue; */
}
.imgAdventages:hover {
	transform: scale(1.03);
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.imgSkymaster {
	width: 100%;
	aspect-ratio: 355 / 347;
}
.imgDescr {
	display: flex;
	padding: 24px;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
	/* flex: 1 0 0; */
	background: var(--background-inverse);
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
	.imgAdventages {
		aspect-ratio: 670 / 624;
	}
}
@media screen and (min-width: 768px) {
	.adventagesList {
		flex-wrap: wrap;
	}
	.advItem {
		width: calc((100% - 10px) / 2);
	}
	.imgSkymaster {
		display: none;
	}
	.imgAdventages {
		/* background-color: lightgray; */
		background-image: url("/img/skymaster/CTA_x1.png");
		background-size: 100% 100%;
		background-position: 50% center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	@media screen and (min-resolution: 2dppx),
		(min-resolution: 192dpi),
		(-webkit-min-device-pixel-ratio: 2) {
		.imgAdventages {
			background-image: url("/img/skymaster/CTA_x2.png");
			background-size: 100% 100%;
			background-position: 50% center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
}
@media screen and (min-width: 1280px) {
	.content {
		flex-direction: row;
		gap: 20px;
	}
	.imgAdventages {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;
		aspect-ratio: none;
		height: 624px;
		/* border: 1px solid blue; */
	}

	.animateAdventages {
		transform: translateX(50px);
	}

	.animateAdventagesList {
		transform: translateX(-50px);
	}

	.adventagesList {
		flex-wrap: wrap;
		gap: 20px;
	}

	.advItem {
		width: calc((100% - 20px) / 2);
	}
}
