.skymasterWrapper {
	padding-top: 1px solid var(--border-primary);
}
.skymasterBlock {
	display: flex;
	width: 1360px;
	flex-direction: column;
	align-items: flex-start;
	gap: 64px;
	margin: 0 auto;
	/* border: 1px solid red; */
}
.titleH2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	width: 100%;
}
.titleSmall {
	color: var(--content-secondary);
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-family: var(--second-family);
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.titleBig {
	color: var(--content-primary);
	text-align: right;
	font-family: var(--font-family);
	font-size: 88px;
	font-style: normal;
	font-weight: 500;
	line-height: 88px;
	letter-spacing: 0;
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
	gap: 20px;
}
.adventagesList,
.imgAdventages {
	width: calc(50% - 10px);
}
.adventagesList {
	display: flex;
	width: 100%;
	align-items: flex-start;
	align-content: flex-start;
	gap: 20px;
	flex-wrap: wrap;
}
.advItem {
	display: flex;
	width: calc((100% - 20px) / 2);
	height: 302px;
	padding: 24px;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 10px;
	flex-shrink: 0;
	/* border: 1px solid green; */
	background: var(--background-inverse);
}
.advWrap {
	width: 65px;
	height: 65px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.iconAdv {
	width: 100%;
	height: 100%;
	stroke: var(--content-iconinverse);
}
.advDescr {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
	align-self: stretch;
}
.advTitle {
	color: var(--content-primaryinverse);
	font-family: var(--font-family);
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0;
}
.advText {
	color: var(--content-primaryinverse);
	font-family: var(--font-family);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -1px;
}
.imgAdventages {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	height: 624px;
	/* border: 1px solid blue; */
}
@media screen and (min-width: 375px) {
	.imgAdventages {
		/* background-color: lightgray; */
		background-image: url("/img/skymaster/CTA_x1.png");
		background-size: 100% 100%;
		background-position: 50% center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	@media screen and (min-resolution: 2dppx),
		(min-resolution: 192dpi),
		(-webkit-min-device-pixel-ratio: 2) {
		.imgAdventages {
			background-image: url("/img/skymaster/CTA_x2.png");
			background-size: 100% 100%;
			background-position: 50% center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
}
.imgDescr {
	display: flex;
	padding: 24px;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
	/* flex: 1 0 0; */
	background: var(--background-inverse);
}
