.ourPrograms {
	border-top: 1px solid #242424;
}
.programsBlock {
	display: flex;
	width: 100%;
	max-width: 1036px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	margin: 0 auto;
	/* border: 1px solid red; */
}
.programsSmallTitle {
	color: var(--content-secondary);
	text-align: center;
	leading-trim: both;
	text-edge: cap;

	font-family: var(--second-family);
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.programsHeadTitle {
	display: flex;
	width: 100%;
	flex-direction: column;
}
.programsTitle {
	display: flex;
	width: 100%;
	color: var(--content-primary);

	font-family: var(--font-family);
	font-size: clamp(36px, calc((88 / 1280) * 100vw), 88px);
	font-style: normal;
	font-weight: 500;
	line-height: clamp(36px, calc((88 / 1280) * 100vw), 88px);
	letter-spacing: 0;
}
.left {
	text-align: left;
	position: relative;
}
.right {
	justify-content: flex-end;
}
.rectangle {
	position: absolute;
	top: -10px;
	left: -10px;
	width: clamp(163px, calc((396 / 1280) * 100vw), 396px);
	height: clamp(35px, calc((79 / 1280) * 100vw), 79px);
	background: var(--background-brand);
	mix-blend-mode: plus-lighter;
	opacity: 0.3;
}
