.gallaryWrapper {
	padding-top: 1px solid var(--border-primary);
	padding: 40px 0;
	border-bottom: 1px solid var(--border-primary);
}

.gallaryBlock {
	display: flex;
	width: 100%;
	max-width: 1360px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 64px;
	margin: 0 auto;
}
.titleH2 {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}
.titleSmall {
	color: var(--content-secondary);
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-family: var(--second-family);
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.titleBig {
	width: 100%;
	max-width: 1360px;
	padding: 0 8px;
}
.title_big_1 {
	position: relative;
}
.rectangle {
	position: absolute;
	top: 40%;
	left: -5%;
	width: clamp(163px, calc((396 / 1280) * 100vw), 396px);
	height: clamp(35px, calc((79 / 1280) * 100vw), 79px);
	background: var(--background-brand);
	mix-blend-mode: plus-lighter;
	opacity: 0.3;
}
.title_big_1,
.title_big_2 {
	color: var(--content-primary);
	text-align: left;
	font-family: var(--font-family);
	font-size: clamp(36px, calc((88 / 1280) * 100vw), 88px);
	font-style: normal;
	font-weight: 500;
	line-height: clamp(36px, calc((88 / 1280) * 100vw), 88px);
	letter-spacing: 0;
}
.title_big_2 {
	text-align: right;
}
.gallerySwiperWrapper {
	/* height: 545px; */
	width: 100%;
	/* border: 2px solid red; */
	padding: 2px;
}
@media screen and (min-width: 768px) {
	.gallaryWrapper {
		padding: 80px 0;
	}
	.titleBig {
		width: 75%;
	}
}
@media screen and (min-width: 1280px) {
	.gallaryWrapper {
		padding: 120px 0;
	}
}
