.successfullWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
}
.text {
	width: 306px;
	color: var(--content-primary);

	font-family: var(--second-family);
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
}

.btnBack {
	width: 306px;
	height: 56px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 8px 16px;

	background: var(--background-inverse);

	color: var(--content-brand);

	font-family: var(--second-family);
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: left;
	text-transform: uppercase;
}

.iconWrapper {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon {
	width: 12px;
	height: 12px;
	stroke: var(--content-brand);
}
