.paginationWraper {
	height: 40px;
	width: 120px;
	display: flex;
	align-items: center;
	gap: 8px;
}
.paginationItem {
	display: flex;
	align-items: center;
	gap: 8px;
}
.boolitIcon,
.boolitActiveIcon {
	height: 2px;
	background: var(--content-icon);
}
.boolitActiveIcon {
	min-width: 24px;
}
.boolitIcon {
	min-width: 8px;
	opacity: 0.2;
}
