.advBtn {
	display: flex;
	padding: 16px 24px;
	align-self: center;
	width: 100%;
	max-width: 328px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	background: var(--background-inverse);

	color: var(--content-brand);
	leading-trim: both;
	text-edge: cap;
	font-family: var(--second-family);
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0;
	text-transform: uppercase;
}
.iconWrapper {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.iconSkyMaster {
	width: 12px;
	height: 12px;
	stroke: var(--content-brand);
}
